<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        .row-content {
          margin: 0px auto;
          padding: 50px 0px; 
        display: block;}
          body {
          z-index: 0; }
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light">
            <div class="navbar-brand" style="margin-right: 7%;">
                <a class="navbar-brand" href="/" style="font-weight: 500;">
                    <img src="vagdevilogo.jpg" alt="logo" height="60px" width="60px" style="margin-right: 2%;">
                    <span class="d-none d-md-inline-block" href="/">
                      Vagdevi Vidyalayam
                    </span>
                </a>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item menu-item">
                    <a class="nav-link" href="/admin">Admin</a>
                </li>
                <li class="nav-item menu-item">
                    <a class="nav-link" href="/addevents">Add events</a>
                </li>
                <li class="nav-item active menu-item">
                    <a class="nav-link" href="/addalumini">Add alumini</a>
                </li>
                <li class="nav-item menu-item">
                    <a class="nav-link" href="/addacademics">Add academics</a>
                </li>
                <li class="nav-item menu-item">
                    <a class="nav-link" href="/messages">view message</a>
                </li>
                <li class="nav-item menu-item">
                    <a class="nav-link" href="/register">Register</a>
                </li>
              </ul>
              <form action="/admin" method="GET" class="form-inline">
                <a class="btn btn-outline-danger" href="/logout" class="btn btn-outline-danger my-2 my-sm-0" type="submit">Log out</a>
                </form>
            </div>
          </nav>
    </header>
<body>
    
    <div class="row">
    <div class="col-12 col-md-6 box-2 eventform">
        <br>
        <center>
            <h3>Add student</h3>
        </center>
        <br>
        <div>
            <form class="needs-validation" novalidate id="user-form" action="/addalumini" method="POST" enctype="multipart/form-data" style="margin-left: 2%;">
                <div class="form-group row">
                    <label for="date" class="col-md-4 col-form-label"
                        ><b>Year: </b></label
                    >
                    <div class="col-md-6">
                        <input
                            type="text"
                            class="form-control"
                            id="year"
                            placeholder="YYYY"
                            name="year"
                            required
                        />
                        <div class="invalid-feedback">
                            Please fill out this field.
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="studentname" class="col-md-4 col-form-label"
                        ><b>Student Name: </b></label
                    >
                    <div class="col-md-6">
                        <input
                            type="text"
                            class="form-control"
                            id="studentname"
                            placeholder="Enter student name"
                            name="studentname"
                            required
                        />
                        <div class="invalid-feedback">
                            Please fill out this field.
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="desc" class="col-md-4 col-form-label"
                        ><b>Student advice: </b></label
                    >
                    <div class="col-md-6">
                        <textarea
                        class="form-control"
                        id="desc"
                        name="desc"
                        rows="5"
                        placeholder="Advice"
                        required
                    ></textarea>
                        <div class="invalid-feedback">
                            Please fill out this field.
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="image" class="col-md-4 col-form-label label-1"
                        ><b>Image: </b></label
                    >
                    <div class="col-md-6">
                      <input type="file" id="image"
                      name="image" value="" required class="form-control">
                        <div class="invalid-feedback">
                            Please fill out this field.
                        </div>
                    </div>
                </div>
                <button class="btn submit btn-primary col-md-4 offset-2" onclick="storing()">
                    Submit
                </button>
            </form>
            <br>
        </div>
    </div>
    <div class="col-12 col-md-5 mar box-2 eventform">
        <div>
            <form class="needs-validation" novalidate id="user-form" action="/deletestudent" method="POST">
                <br>
                <center>
                    <h3>Delete Student</h3>
                </center>
                <br>
                <div class="form-group row">
                    <label for="year1" class="col-md-4 col-form-label label-1"
                        ><b>Year: </b></label
                    >
                    <div class="col-md-7">
                        <input
                            type="text"
                            class="form-control"
                            id="year1"
                            placeholder="Year"
                            name="year1"
                            required
                        />
                        <div class="invalid-feedback">
                            Please fill out this field.
                        </div>
                    </div>
                </div>
                    <div class="form-group row">    
                    <label for="studentname1" class="col-md-4 col-form-label label-1"
                        ><b>Student Name: </b></label
                    >
                    <div class="col-md-7">
                        <input
                            type="text"
                            class="form-control"
                            id="studentname1"
                            placeholder="Enter student name"
                            name="studentname1"
                            required
                        />
                        <div class="invalid-feedback">
                            Please fill out this field.
                        </div>
                    </div>
                </div>
                <button class="btn submit btn-danger submit-1 col-md-3 offset-2" id="delete-button">
                    Delete
                </button>
            </form>
            <form class="needs-validation" novalidate id="user-form" action="/deleteall_alumini" method="POST" style="margin-top: 20%;">
                <label style="font-weight: bold; color: red; font-size: 100%;">Note: Delete all button deletes all the events</label>
                <button class="btn submit btn-danger submit-1 col-md-3 offset-2" id="delete-button">
                    Delete All
                </button>
            </form>
        </div>
    </div>
<script src="../scripts/sorting.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>