<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light">
            <div class="navbar-brand" style="margin-right: 7%;">
                <a class="navbar-brand" href="/" style="font-weight: 500;">
                    <img src="vagdevilogo.jpg" alt="logo" height="60px" width="60px" style="margin-right: 2%;">
                    <span class="d-none d-md-inline-block" href="/">
                      Vagdevi Vidyalayam
                    </span>
                </a>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active menu-item">
                    <a class="nav-link" href="/admin">Admin</a>
                </li>
                <li class="nav-item menu-item">
                    <a class="nav-link" href="/addevents">Add events</a>
                </li>
                <li class="nav-item menu-item">
                    <a class="nav-link" href="/addalumini">Add alumini</a>
                </li>
                <li class="nav-item menu-item">
                    <a class="nav-link" href="/addacademics">Add academics</a>
                </li>
                <li class="nav-item menu-item">
                    <a class="nav-link" href="/messages">view message</a>
                </li>
                <li class="nav-item menu-item">
                    <a class="nav-link" href="/register">Register</a>
                </li>
              </ul>
              <form action="/admin" method="GET" class="form-inline">
                <a class="btn btn-outline-danger" href="/logout" class="btn btn-outline-danger my-2 my-sm-0" type="submit">Log out</a>
                </form>
            </div>
          </nav>
    </header>
<body>
<div style="margin-left: 7%;margin-right: 8%;margin-top:20%">
    <div class="row">
        <div class="col">
            <a role="button" class="btn btn-warning" href="/addevents" style="color: black;font-weight: bold;">Add events</a>
        </div>
        <div class="col">
            <a role="button" class="btn btn-warning" href="/addalumini" style="color: black;font-weight: bold;">Add alumini</a>
        </div>
        <div class="col">
            <a role="button" class="btn btn-warning" href="/addacademics" style="color: black;font-weight: bold;">Add academics</a>
        </div>
        <div class="col">
            <a role="button" class="btn btn-warning" href="/messages" style="color: black;font-weight: bold;">View message</a>
        </div>
    </div>
</div>
<%- include('footer'); -%>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>