<footer class="page-footer" style="margin: 0px auto; margin-top: 2%; padding: 20px 0px; background-color: rgb(228, 227, 227);">
    <div class="container">
      <div class="row">
        <div class="col-12 col-sm-4 d-none d-md-block"  style="margin-top: 2%;">
          <h5>Links</h5>
          <ul class="list-unstyled">
            <li><a href="/" style="text-decoration: none;">Home</a></li>
            <li><a href="/about" style="text-decoration: none;">About Us</a></li>
            <li><a href="/events" style="text-decoration: none;">Events</a></li>
            <li><a href="/academics" style="text-decoration: none;">Academics Us</a></li>
            <li><a href="/alumini" style="text-decoration: none;">Alumini</a></li>
            <li><a href="/contact" style="text-decoration: none;">Contact Us</a></li>
          </ul>
        </div>
        <div class="col-8 offset-4 col-md-3 offset-md-0" style="margin-top: 2%;">
          <h5>Reach Us</h5>
          <h6>Vagdevi Vidyalayam</h6>
          <i class="fa fa-map-marker fa-lg"></i> : address<br>
          <i class="fa fa-location-arrow fa-lg"></i> :&nbsp;<a href="link" target="_blank"  style="text-decoration: none;">Get Directions</a><br>
          <i class="fa fa-phone fa-lg"></i> : 8341113700<br>
        </div>
        <div class="col-12 col-sm-4 offset-md-1 align-self-right" style="margin-top: 5%;">
          <div class="text-center">
            <a class="btn btn-social-icon btn-google" style="font-size: 125%;" href="http://google.com/+"><i class="fa fa-google"></i></a>
            <a class="btn btn-social-icon btn-facebook" style="font-size: 125%;" href="http://www.facebook.com/profile.php?id="><i class="fa fa-facebook"></i></a>
            <a class="btn btn-social-icon btn-twitter" style="font-size: 125%;" href="http://twitter.com/"><i class="fa fa-twitter"></i></a>
            <a class="btn btn-social-icon btn-instagram" style="font-size: 125%;" href="https://www.instagram.com/"><i class="fa fa-instagram" style="font-weight: bolder;"></i></a>
            <a class="btn btn-social-icon" style="font-size: 125%;" href="mailto:"><i class="fa fa-envelope"></i></a>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">             
      <div class="col-auto">
          <p style="font-weight: bold; font-size: 90%;">© Copyright all rights reserved to Vagdevi Vidyalayam</p>
      </div>
    </div>
  </div>
</footer>