<%- include("header"); -%>
<div style="margin-left: 7%;margin-right: 8%;margin-top:12%">
    <div class="row row-content">
        <div class="col-12 col-md-4 offset-md-4" style="margin-top: 3%; border: 1px #ccc solid; border-radius: 11px;">
           <br>
        <center>
            <h3>Register</h3>
        </center>
        <br>
        <div>
            <form class="needs-validation" novalidate id="user-form" action="/register" method="POST" style="margin-left: 2%;">
                <div class="form-group row">
                    <label for="username" class="col-md-4 col-form-label"
                        ><b>User Name: </b></label
                    >
                    <div class="col-md-6">
                        <input
                            type="text"
                            class="form-control"
                            id="username"
                            placeholder="User Name"
                            name="username"
                            required
                        />
                        <div class="invalid-feedback">
                            Please fill out this field.
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="password" class="col-md-4 col-form-label"
                        ><b>Password: </b></label
                    >
                    <div class="col-md-6">
                        <input
                            type="password"
                            class="form-control"
                            id="password"
                            placeholder="Password"
                            name="password"
                            required
                        />
                        <div class="invalid-feedback">
                            Please fill out this field.
                        </div>
                    </div>
                </div>
                <button class="btn submit btn-primary col-md-4 offset-3">
                    Submit
                </button>
            </form>
            <br>
        </div>
    </div>
</div>
</div>
<%- include('footer'); -%>          
    <script
        src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
</body>
</html>